body{
    padding: 0;
    margin: 0;
}
#video_grid{
    display: flex;
    justify-content: center;
}
video{
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.main{
    height: 100vh;
    display: flex;

    
    background-color: #303030;
}
.main__left{
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
.main__rigth{
    flex: 0.2;
}

.main__videos{
    flex-grow: 1;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_controls{
    display: flex;
    background-color: #1c1e20;
    color: #ccc;
    padding: 10px;
}
.controls_block{
    display: flex;
    justify-content: space-between;
}

/* .controls_block:hover{
    
    transition: all 0.3s ease-in-out;
} */

.controls_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    min-width: 70px;
    cursor: pointer;
}
.controls_button:hover{
    background-color: #3d4042;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.controls_button i{
    font-size: 20px;

}
.controls_button span{
    font-size: 10px;
    padding: 3px 0px;
}
